.parallax {
  /* The image used */
  background-image: url("https://mega.online/-/media/feature/mega-articles/banners/2018/cycling-seesense/bicycle-banner.jpg");

  /* Set a specific height */
  min-height: 500px;
  max-height: 1500px;

  /* Create the parallax  scrolling effect */
  /* background-attachment: fixed;
  background-position: center; */
  position: relative;

  background-repeat: no-repeat;
  background-size: cover;
}

#text-jumbo {
  padding-top: 150px;
  font-size: 100px;
  color: white;
  opacity: 55%;
}

.welcome-div{
  color: white ;
  text-align: center;
}

.btn-div{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn{
  margin: 10px;
  width: 175px;
  height: 60px;
}
