body {
  /* background-image: url("./bike_street_night_wall-634607.jpg");
  background-size: cover; */
}

.card-footer {
  background-color: transparent;
  color: white;
  text-align: center;
  position: relative;
  bottom: 0;
  bottom: 0x;
  height: 150px;
  border-top: none;
  margin-top: 75px;
  width: 100%;
  color: white;
  font-weight: bold;
}

#loginbtn {
  color: #fff;
  background-color: #196887;
  border-color: #198787;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

<<<<<<< HEAD

.login-form{
  width: 500px; 
  margin-left: 10%;
=======
.login-form {
  width: 1000px;
  margin: 0 auto;
>>>>>>> c347040312f7a59ac4e41fb99f4ac5b06d04d347
  padding-top: 70px;
}

.form-control {
  margin: 10px;
}
